@model Kursach.Models.ProjectModel
@{
    //@ViewData["Title"]
    //@ViewData["Message"]
}

<h2>Добавление нового проекта</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewProject">
            <div class="form-group">
                <label for="formGroupExampleInput">Название проекта</label>
                <input asp-for="ProjectName" type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Стоимость проекта</label>
                <input  asp-for="Cost" type="number" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Пларируемый срок завершения</label>
                <input asp-for="Deadline" type="date" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
                <input asp-for="AuthorId" class="form-control" type="hidden" value=@int.Parse(User.Identity.Name) />
                <input type="submit" value="Добавить проект" class="btn btn-default" />

            </div>
        </form>
    </div>
</div>