body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    
    width: 100%;

   
}

div.inline {
    float: right;
    width:inherit;
    margin-left: 10px;
}
	div.inline .first {
		float: left;
		width: inherit;
	}

.link-unstyled,
.link-unstyled:hover,
.link-unstyled:visited,
.link-unstyled:hover,
.link-unstyled:active,
.link-unstyled:focus,
.link-unstyled:active:hover {
	font-style: inherit !important;
	color: inherit !important;
	background-color: transparent !important;
	font-size: inherit !important;
	text-decoration: none !important;
	font-variant: inherit !important;
	font-weight: inherit !important;
	line-height: inherit !important;
	font-family: inherit !important;
	border-radius: inherit !important;
	border: inherit !important;
	outline: inherit !important;
	box-shadow: inherit !important;
	padding: inherit !important;
	vertical-align: inherit !important;
}
.clearBoth {
    clear: both;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
